body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/background.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    gap: 20px;
    width: 90vw;
    height: 90vh;
    align-items: center;
}
.printerWebcam {
    display: inline-block;
    width: fit-content;
    height: fit-content;
}
.printerWebcam img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(180deg); /* Rotate the image by 180 degrees */
    border-radius: 4vw;
}

.printerCard {
    display: inline-block;
    border-radius: 4vw;
    background-color: rgb(44, 44, 44);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.printerCard h1 {
    color: white;
    font-size: 4vw;
    margin: 0;
    padding: 10px;
    padding-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}